<h1 class="t-text">Magic Houses List</h1>
<ng-template [ngIf]="houses.length">
  <br />
  <table class="table table-hover" style="margin-top: 1em;">
    <thead>
    <tr>
      <th>Name</th>
      <th>Members Number</th>
    </tr>
    </thead>
    <tr *ngFor="let house of houses">
      <td>
        <a [routerLink]="['/houses', house._id]">
          {{house.name}}
        </a>
      </td>
      <td>{{house.members.length}}</td>
    </tr>
  </table>
  <br />
</ng-template>
<ng-template [ngIf]="!houses.length">
  <h2 class="text-center">Loading Magic Houses</h2>
</ng-template>
