<ng-template [ngIf]="!isLoggedIn">
<div class="login-wrapper" style="width: 40%; margin: auto">
  <h1>Login</h1>
  <div class="form-wrapper">
    <form #myform="ngForm" (ngSubmit)="login(myform)" class="form">
      <div class="form-group">
        <label for="login-email">Email</label>
        <input id="login-email" name="email" type="email" class="form-control" placeholder="Email" required [(ngModel)]="email">
      </div>

      <div class="form-group">
        <label for="login-password">Password</label>
        <input id="login-password" name="password" type="password" class="form-control" placeholder="Password" required [(ngModel)]="password">
      </div>

      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="submit">
      </div>
    </form>
  </div>
</div>
<br>
<p>Use: admin@admin.com with password 'admin' or user@user.com with password 'user'</p>
</ng-template>
<ng-template [ngIf]="isLoggedIn">
  <h2 class="text-center">You are currently logged on</h2>
  <h4 class="text-center">Click the button bellow to log out</h4>
  <button style="display: block; margin: auto" class="btn btn-primary" (click)="logout()">Log out</button>
</ng-template>
