
$primary: #873436;

header {
  background: $primary;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  z-index: 99;

  a {
    color: white;
    text-decoration: none;
  }
  a.logo {
    font-weight: bold;
  }

  nav {
    float: right;

    ul {
      list-style-type: none;
      margin: 0;
      display: flex;

      li a {
        padding: 1em;

        &:hover {
          background: darken($primary, 10%);
        }
      }
    }
  }
}

.content-container{
  background: white;
  min-height: 780px;
  padding-top: 5em;
  position: relative;
}
.content-container::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  display: block;
  background-image: linear-gradient(to bottom, white, transparent);
}

