<header>
  <div class="container">
    <a routerLink="/" class="logo">Magic School</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/houses">Houses</a></li>
        <li><a href="#" routerLink="/characters">Characters</a></li>
        <li><a href="#" routerLink="/login">Login</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container content-container">
  <router-outlet></router-outlet>
</div>
