<ng-template [ngIf]="character">
  <h1 class="t-text">{{character.name}} stats:</h1>
  <div class="label" *ngIf="character.house"><strong>House: </strong>{{character.house}}</div>
  <div class="label" *ngIf="character.patronus"><strong>Patronus: </strong>{{character.patronus}}</div>
  <div class="label" *ngIf="character.alias"><strong>Alias: </strong>{{character.alias}}</div>
  <div class="label" *ngIf="character.species"><strong>Species: </strong>{{character.species}}</div>
  <div class="label" *ngIf="character.bloodStatus"><strong>Blood Type: </strong>{{character.bloodStatus}}</div>
  <div class="label" *ngIf="character.role"><strong>Role: </strong>{{character.role}}</div>
  <div class="label" *ngIf="character.school"><strong>School: </strong>{{character.school}}</div>
  <div class="label" *ngIf="character.wand"><strong>Wand: </strong>{{character.wand}}</div>
  <div class="label" *ngIf="character.boggart"><strong>Boggart: </strong>{{character.boggart}}</div>
  <div class="label" *ngIf="character.animagus"><strong>Animagus: </strong>{{character.animagus}}</div>
  <div class="label" *ngIf="character.deathEater !== undefined">
    <strong>Death Eater: </strong>{{character.deathEater === true ? 'Yes' : 'No'}}
  </div>
  <div class="label" *ngIf="character.dumbledoresArmy !== undefined">
    <strong>Dumbledore's Army: </strong>{{character.dumbledoresArmy === true ? 'Yes' : 'No'}}
  </div>
  <div class="label" *ngIf="character.orderOfThePhoenix !== undefined">
    <strong>Order Of The Pheonix: </strong>{{character.orderOfThePhoenix === true ? 'Yes' : 'No'}}
  </div>
  <div class="label" *ngIf="character.ministryOfMagic !== undefined">
    <strong>Ministry Of Magic: </strong>{{character.ministryOfMagic === true ? 'Yes' : 'No'}}
  </div>
</ng-template>
<ng-template [ngIf]="!character">
  <h2 class="text-center">Loading Character Info</h2>
</ng-template>
