<ng-template [ngIf]="houseMembers.length">
  <h1 class="t-text">Welcome to {{house.name}}</h1>
  <br />
  <h3 class="t-text">Here is a list of this house members</h3>
  <table class="table table-hover" style="margin-top: 1em;">
    <thead>
    <tr>
      <th (click)="sort('name')">Full Name</th>
      <th (click)="sort('firstName')">First Name</th>
      <th (click)="sort('lastName')">Last Name</th>
      <th (click)="sort('bloodStatus')">Blood type</th>
    </tr>
    </thead>
    <tr *ngFor="let member of houseMembers">
      <td>
        <a [routerLink]="['/characters', member._id]">
          {{member.name}}
        </a>
      </td>
      <td>
        {{member.firstName}}
      </td>
      <td>
        {{member.lastName ? member.lastName : '-'}}
      </td>
      <td>
        <img class="blood-icon" src="../../assets/images/blood-icons/{{member.bloodStatus}}.png" alt="{{member.bloodStatus}}" data-toggle="tooltip" data-placement="top" title="{{member.bloodStatus}}">
      </td>
    </tr>
  </table>
  <ul class="legend-wrapper">Legend:
    <li><img class="blood-icon" src="../../assets/images/blood-icons/pure-blood.png" alt="pure-blood"> - Pure Blood</li>
    <li><img class="blood-icon" src="../../assets/images/blood-icons/half-blood.png" alt="half-blood"> - Half Blood</li>
    <li><img class="blood-icon" src="../../assets/images/blood-icons/muggle-born.png" alt="muggle-born"> - Muggle Born</li>
    <li><img class="blood-icon" src="../../assets/images/blood-icons/unknown.png" alt="unknown"> - Unknown</li>
  </ul>
  <br />
</ng-template>
<ng-template [ngIf]="!houseMembers.length">
  <h2 class="text-center">Loading House Members</h2>
</ng-template>
