<h1 class="t-text">Characters List</h1>
<ng-template [ngIf]="characters.length">
  <br />
  <table class="table table-hover" style="margin-top: 1em;">
    <thead>
    <tr>
      <th (click)="sort('name')">Name</th>
      <th (click)="sort('school')">School</th>
      <th (click)="sort('house')">House</th>
    </tr>
    </thead>
    <tr *ngFor="let char of characters">
      <td>
        <a [routerLink]="['/characters', char._id]">
          {{char.name}}
        </a>
      </td>
      <td>{{char.school ? char.school : '-'}}</td>
      <td>{{char.house ? char.house : '-'}}</td>
    </tr>
  </table>
  <br />
</ng-template>
<ng-template [ngIf]="!characters.length">
  <h2 class="text-center">Loading Characters</h2>
</ng-template>
