/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: 'Nunito', 'sans-serif';
  font-size: 18px;
  background: #000000 url('assets/images/background.jpg') top center repeat;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
}

@media only screen and (max-width: 1083px){
  body {
    background-image: none;
  }
}
